.catalog {
    &__tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 55px;
        padding-left: 0;
        margin-bottom: 0;
    }
    &__tab {
        width: 222px;
        height: 52px;
        border: 2px solid #D0D0D0;
        list-style-type: none;
        margin: 0 5px;
        font-size: 18px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        color: #6B6B6B;;
        transform: skewX(-27deg);
        transition: 0.4s all;
        cursor: pointer;
        div {
            transform: skewX(27deg);
        }
        &:hover {
            box-shadow: 2px 2px 15px $main-color;
            border: none;
        }
        &_active {
            color: #fff;
            background-color: $main-color;
            border: none;
            &:hover {
                box-shadow: none;
            }
        }
    }
    &__content {
        display: none;
        flex-wrap: wrap;
        margin-top: 57px;
        width: calc(100% + 20px);
        &_active {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &-item {
        width: 303px;
        height: 442px;
        padding: 20px;
        margin: 10px;
        border: 2px solid #E8E8E8;
        overflow: hidden;
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            min-height: 200px;
        }
        &__subtitle {
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            color: #0D0D0D;
            margin: 15px 0;
        }
        &__descr {
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: #0D0D0D;
        }
        &__link {
            display: block;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            text-transform: uppercase;
            color: $main-color;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            margin: 15px 0;
        }
        &__footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
            &__oldprice {
                font-size: 14px;
                text-decoration-line: line-through;
                color: #555555;
            }
            &__price {
                font-weight: 700;
                font-size: 20px;
                color: #050505;
            }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
            &__content {
                width: 50%;
                margin-right: 0;
                transform: translateX(-100%);
                transition: 0.5s all;
                &_active {
                    transform: translateX(0%);
                    margin-right: 20px;
                    
                }
            }
            &__list {
                position: relative;
                width: 50%;
                margin-left: 20px;
                margin-bottom: 0;
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                color: #555555;
                transform: translateX(0);
                transition: 0.5s all;
                ul {
                    padding-left: 0;
                    list-style-type: none;
                }
                li {
                    position: relative;
                    margin-bottom: 15px;
                }
                &_active {
                    transform: translateX(-100%);
                    margin-left: 0;
                    padding-left: 10px;
                    li {
                    &:before {
                        content: '';
                        position: absolute;
                        left: -13px;
                        top: 7px;
                        display: block;
                        width: 5px;
                        height: 5px;
                        background-color: $main-color;     
                    }
                }
            }
        }
        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 10px));
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            text-transform: uppercase;
            color: $main-color;

            &:hover {
                color: $main-color;
            }
        }
    }
}